@tailwind base;
@tailwind components;
@tailwind utilities;

/* global font family */
body {
    font-family: 'Rubik',
        sans-serif;
    font-size: 18px;
}

/* custom properties */
:root {
    /* ## Colors */
    --cl-Very-Dark-Gray: hsl(0, 0%, 17%);
    --cl-Dark-Gray: hsl(0, 0%, 59%);
}

/* actual css */
main>div {
    width: min(85vw, 1000px)
}

.floatContent>img {
    height: 15rem;
    width: 100%;
}

.map-container {
    height: calc(100% - 15rem);
    width: 100%;
}

.headerinfo {
    font-size: .65rem;
    letter-spacing: .1rem;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}